<div class="admin">
    <div class="content">
        <div class="form-preview">
            <div class="block-form">
                <form action="" class="form" data-ng-submit="add()">
                    <input type="file" id="img" class="img" required>
                    <div class="addNewToolt" data-ng-click="addNewText();">Добавити новий тулт</div>
                    <div class="repeat" data-ng-repeat="elem in data.add.textToolt track by $index">
                        <div class="ctrl">
                            <div class="button -select" data-ng-click="selectTextToolt(elem)">Select</div>
                            <div class="button -remove" data-ng-click="removeTooltText($index)">Remove</div>
                        </div>
                        <label for="head">Заголовок</label>
                        <input type="text" class="input -head" autocomplete="off" maxlength="20" id="head" data-ng-model="elem.head" required>
                        <label for="text">Текст</label>
                        <textarea class="input -text" maxlength="130" id="text" rows="5" data-ng-model="elem.text" required></textarea>
                    </div>

                    <button class="button" type="submit">Добавити</button>
                </form>
            </div>

            <div class="preview">

                <div class="block-img">
                    <img data-ng-src="{{data.add.img}}" alt="" class="img">
                </div>

                <div class="tooltip-prev">
                    <h3 class="head" data-ng-bind="data.add.select.head"></h3>

                    <div class="text" data-ng-bind="data.add.select.text"></div>
                </div>
            </div>
        </div>

        <div class="images">
            <div class="block-img" data-ng-repeat="el in tooltips track by $index" data-ng-mouseover="tooltipShow($event, el)" data-ng-mouseleave="tooltipHide()">
                <div class="controls">
                    <div class="ctrl -edit" data-ng-click="edit.show(true, el)">E</div>
                    <div class="ctrl -remove" data-ng-click="remove(el._id)">R</div>
                </div>
                <img data-ng-src="{{el.img}}" alt="" class="img">

            </div>
        </div>
    </div>

    <div class="edit" data-ng-show="edit.status">
        <div class="backgr" data-ng-click="edit.show(false)"></div>
        <div class="form-preview">
            <div class="block-form">
                <form action="" class="form" data-ng-submit="editSet()">
                    <input type="file" id="img-edit" class="img" required>
                    <div class="addNewToolt" data-ng-click="editAddNewText();">Добавити новий тулт</div>
                    <div class="repeat" data-ng-repeat="elem in data.edit.textToolt track by $index">
                        <div class="ctrl">
                            <div class="button -select" data-ng-click="editSelectTextToolt(elem)">Select</div>
                            <div class="button -remove" data-ng-click="editRemoveTooltText($index)">Remove</div>
                        </div>
                        <label for="head2">Заголовок</label>
                        <input type="text" class="input -head" autocomplete="off" maxlength="20" id="head2" data-ng-model="elem.head" required>
                        <label for="text2">Текст</label>
                        <textarea class="input -text" maxlength="130" id="text2" rows="5" data-ng-model="elem.text" required></textarea>
                    </div>

                    <button class="button" type="submit">Замінити</button>
                </form>
            </div>

            <div class="preview">

                <div class="block-img">
                    <img data-ng-src="{{data.edit.img}}" alt="" class="img">
                </div>

                <div class="tooltip-prev">
                    <h3 class="head" data-ng-bind="data.edit.select.head"></h3>

                    <div class="text" data-ng-bind="data.edit.select.text"></div>
                </div>
            </div>
        </div>
    </div>
</div>

