.admin {
  background: linear-gradient(to bottom right, wheat, lightgreen);
  min-height 100vh;
  display flex
  justify-content center;
  position relative;

  > .content {
    max-width 1300px;
    width 100%;
    display: flex;
    flex-direction column;
    align-items center;

    > .form-preview {
      margin-top 30px;
      display flex;
      flex-wrap wrap;
      width 100%;
      justify-content space-around;
      background rgba(255,255,255,0.2);
      padding-bottom 20px;
      border-radius 6px;

      > .block-form {
        display flex;

        > .form {
          display flex;
          flex-direction column;
          color white;

          > .img {
            margin 10px 0;
          }

          > .addNewToolt {
            text-align center;
            height 30px;
            line-height 30px;
            background lightskyblue;

            &:hover {
              cursor pointer;
              opacity 0.8;
            }
          }

          > .repeat {
            display flex;
            flex-direction column;

            > .ctrl {
              display flex;
              justify-content center;
              width 100%;

               > .button {
                  width 100%;
                  height 25px;
                 text-align center;
                 line-height 25px;

                 &.-select {
                   background limegreen;
                 }

                 &.-remove {
                   background indianred;
                 }

                 &:hover {
                   opacity 0.8;
                   cursor pointer;
                 }
               }
            }
          }

          > .repeat > input, textarea {
            margin 10px 0;
          }

          > .repeat > .input {
            border none;

            &.-head {
              height 30px;
              text-align center;
              font-size 18px;
              color: #727272;
            }

            &.-text {
              color: #727272;
              font-size 14px;
              resize none;
            }

            &:focus {
              outline 2px solid #e2e2e2;
            }
          }

          > .button {
            height 35px;
            background white;
            border none;
            font-size 14px;
            color: #4b4b4b;

            &:hover {
              cursor pointer;
              background whitesmoke;
            }

            &:focus {
              outline none;
            }
          }
        }
      }

      > .preview {
        > .block-img {
          border-radius 6px;
          margin 15px 10px;
          overflow hidden;
          position relative;
          width 250px;
          height 300px;
          top 0px;
          background white;
          box-shadow 0 0 30px 1px rgba(0,0,0,0.3);
          transition 300ms;

          > .img {
            width 100%;
            height 100%
          }
        }

        > .tooltip-prev {
          width 250px;
          left 10px;
          background #f6f6f6;
          box-shadow 0 0 20px 1px rgba(0,0,0,0.2);
          border-radius 6px;
          position relative;
          text-align center;

          > .head {
            background white;
            border-radius 6px 6px 0 0;
            line-height 40px;
            width 100%;
            height 40px;
            border-bottom 2px solid lightcyan;
            position relative;
            z-index 2;
          }

           > .text {
             padding 0 20px;
           }

          &:after {
            width 20px;
            height 20px;
            content: "";
            background white;
            position: absolute;
            transform rotate(45deg);
            box-shadow 0 0 20px 1px rgba(0,0,0,0.2);
            top: -10px;
            left calc(50% - 10px);
            z-index 1;
          }
        }
      }
    }

    > .images {
      padding-bottom 120px;
      margin 30px;
      display flex;
      flex-wrap wrap;
      justify-content center;

      > .block-img {
        border-radius 6px;
        margin 15px 10px;
        overflow hidden;
        position relative;
        width 250px;
        height 300px;
        top 0px;
        background white;
        box-shadow 0 0 30px 1px rgba(0,0,0,0.3);
        transition 300ms;
        > .img {
          width 100%;
          height 100%
        }

        > .controls {
          position: absolute;
          width 100%;
          display flex;
          justify-content space-between;

          > .ctrl {
            width 30px;
            height 30px;
            text-align center;
            line-height 30px;
            color #e5e5e5;

            &.-edit {
              background #90d156;
              border-radius 0 0 5px 0;
            }

            &.-remove {
              background indianred;
              border-radius 0 0 0 5px;
            }

            &:hover {
              opacity 0.8;
              cursor pointer;
              color white;
            }
          }
        }

        &:hover {
          top -5px;
          box-shadow 0 0 100px 1px rgba(0,0,0,0.4);
        }
      }
    }
  }

  > .edit {
    position: fixed;
    width 100%;
    height 100vh;
    top 0;
    left 0;
    z-index 100000;

    > .backgr {
      width 100%;
      height 100%;
      position absolute;
      background rgba(0,0,0,0.5);
    }

    > .form-preview {
      margin-top 30px;
      display flex;
      flex-wrap wrap;
      width 100%;
      height 70vh;
      justify-content space-around;
      background rgba(255,255,255,0.6);
      padding-bottom 20px;
      border-radius 6px;
      z-index 1000;
      position relative;

      > .block-form {
        display flex;
        overflow auto;
        height 220;

        > .form {
          display flex;
          flex-direction column;
          color white;

          > .img {
            margin 10px 0;
          }

          > .addNewToolt {
            text-align center;
            min-height 30px;
            line-height 30px;
            background lightskyblue;

            &:hover {
              cursor pointer;
              opacity 0.8;
            }
          }

          > .repeat {
            display flex;
            flex-direction column;
            min-height 220px;

            > .ctrl {
              display flex;
              justify-content center;
              width 100%;

              > .button {
                width 100%;
                min-height 25px;
                text-align center;
                line-height 25px;

                &.-select {
                  background limegreen;
                }

                &.-remove {
                  background indianred;
                }

                &:hover {
                  opacity 0.8;
                  cursor pointer;
                }
              }
            }
          }

          > .repeat > input, textarea {
            margin 10px 0;
          }

          > .repeat > .input {
            border none;

            &.-head {
              min-height 30px;
              text-align center;
              font-size 18px;
              color: #727272;
            }

            &.-text {
              color: #727272;
              font-size 14px;
              resize none;
            }

            &:focus {
              outline 2px solid #e2e2e2;
            }
          }

          > .button {
            min-height 35px;
            background white;
            border none;
            font-size 14px;
            color: #4b4b4b;

            &:hover {
              cursor pointer;
              background whitesmoke;
            }

            &:focus {
              outline none;
            }
          }
        }
      }

      > .preview {
        > .block-img {
          border-radius 6px;
          margin 15px 10px;
          overflow hidden;
          position relative;
          width 250px;
          height 300px;
          top 0px;
          background white;
          box-shadow 0 0 30px 1px rgba(0,0,0,0.3);
          transition 300ms;

          > .img {
            width 100%;
            height 100%
            object-fit cover;
          }
        }

        > .tooltip-prev {
          width 250px;
          height 150px;
          left 10px;
          background #f6f6f6;
          box-shadow 0 0 20px 1px rgba(0,0,0,0.2);
          border-radius 6px;
          position relative;
          text-align center;

          > .head {
            background white;
            border-radius 6px 6px 0 0;
            line-height 40px;
            width 100%;
            height 40px;
            border-bottom 2px solid lightcyan;
            position relative;
            z-index 2;
          }

          > .text {
            padding 0 20px;
          }

          &:after {
            width 20px;
            height 20px;
            content: "";
            background white;
            position: absolute;
            transform rotate(45deg);
            box-shadow 0 0 20px 1px rgba(0,0,0,0.2);
            top: -10px;
            left calc(50% - 10px);
            z-index 1;
          }
        }
      }
    }
  }
}